<div class="container centered-partial-width-rows-container d-flex flex-row p-5">
    <button mat-button color="primary" routerLink="/careers" style="height:50%">
        <mat-icon>navigate_before</mat-icon> Back
    </button>
    <h1>
        All Jobs for {{type | titlecase}}s
    </h1>
</div>
<div *ngFor="let job of postings" class="container centered-partial-width-rows-container">
    <mat-card>
        <mat-card-title>Job Post {{job.adID}}</mat-card-title>
        <p>Qualifications: {{job.qualification}}</p>
        <p>Education Required: {{job.education}}</p>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                        routerLink="{{job.adID}}">Apply</button>
        </mat-card-actions>
    </mat-card>
<br>
</div>