<h1>All Jobs for {{type | titlecase}}s</h1>
<div *ngFor="let job of postings" class="container centered-partial-width-rows-container">
    <mat-card>
        <mat-card-title>Job Post {{job.id}}</mat-card-title>
        <p>Qualifications: {{job.qualifications}}</p>
        <p>Education Required: {{job.education}}</p>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                        routerLink="{{job.id}}">Apply</button>
        </mat-card-actions>
    </mat-card>
<br>
</div>