.picture {
    max-width: 60%;
    min-width: 500px;
}

.width-cap-area {
    max-width: 400px;
}

.width-cap-text {
    max-width: 80%;
}

.button-spacer {
    margin-bottom: 5%;
}

.description-text {
    text-align: center;
    max-width: 90%;
    margin-left: 5%;
}