<div class="d-inline-flex">
    <img src="assets/pictures/nurses.jpg" alt="nurses smiling" class="picture-right">
    <div class="p2 align-self-center">
        <h1 class="center-div">Nurses</h1>
            <p style="text-align: center;">
                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, 
                vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
                suscipit eget lectus vivamus libero aliquet nascetur torquent fringilla gravida mattis.
        </p>
        <div class="center-div">
            <button mat-raised-button color="primary">Apply Now</button>
        </div>
    </div>
</div>

<!-- <div class="d-flex">
    <div class="p-2 flex-grow-1"></div>
    <div class="p-2" style="max-width:600px">
        <div class="container">
            <h1 class="center-div" style="padding-top: 40px;">Physiotherapists</h1>
            <p style="text-align: center">
                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, 
                vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
                suscipit eget lectus vivamus libero aliquet nascetur torquent fringilla gravida mattis.
            </p>
            <div class="center-div" style="padding-top: 40px;">
                <button mat-raised-button color="primary">Apply Now</button>
            </div>
        </div>
    </div>
    <div class="p-2">
        <img src="assets/pictures/physio1.jpg" alt="nurses smiling" style="max-width:600px">
    </div>
    <div class="p-2 flex-grow-1"></div>
</div> -->