<div class="d-flex flex-wrap">
    <img src="assets/pictures/nurses.jpg" alt="nurses smiling" class="picture">
    <div class="flex-grow-1"></div>
    <div class="p2 align-self-center width-cap-area">
        <div class="container d-flex flex-column width-cap-tex">
            <div class="button-spacer">
                <h1 class="center-div">Nurses</h1>
                <p class="description-text">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, 
                    vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
                    suscipit eget lectus vivamus libero aliquet nascetur torquent fringilla gravida mattis.
                </p>
            </div>
            <div class="center-div">
                <button mat-raised-button color="primary">Apply Now</button>
            </div>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>

<div style="min-height: 5px;"></div>

<div class="d-flex flex-wrap-reverse">
    <img src="assets/pictures/physio1.jpg" alt="a physiotherapist" class="picture order-4">
    <div class="flex-grow-1 flex-shrink-1 order-1"></div>
    <div class="p2 align-self-center width-cap-area order-2">
        <div class="container d-flex flex-column width-cap-text">
            <div class="button-spacer">
                <h1 class="center-div">Physiotherapists</h1>
                <p class="description-text">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, 
                    vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
                    suscipit eget lectus vivamus libero aliquet nascetur torquent fringilla gravida mattis.
                </p>
            </div>
            <div class="center-div">
                <button mat-raised-button color="primary">Apply Now</button>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 flex-shrink-1 order-3"></div>
</div>