<div class="container p-2 my-5 border">
    <div class="d-flex flex-row justify-content-between">
        <h1 class="blockquote">Manage Applications</h1>
        <button mat-raised-button color="primary" (click)="openAddApplicationDialog()">New Applications</button>
    </div>
    <div *ngFor="let application of applications" class="container centered-partial-width-rows-container">
        <mat-card>
            <mat-card-title>Application {{application.id}}</mat-card-title>
            <p>Qualifications: {{application.qualifications}}</p>
            <p>Education Required: {{application.education}}</p>
            <mat-card-actions>
                <button mat-raised-button color="primary"
                            routerLink="{{application.id}}">Details</button>
            </mat-card-actions>
        </mat-card>
    <br>
    </div>
</div>
