<nav class="navbar sticky-top navbar-dark navbar-expand-sm" style="background-color: #3f51b5;">

  <div class="container-fluid">
    <!-- Home Screen Links -->
    <ul *ngIf="!checkLoggedIn()" class="navbar-nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="careers">Careers</a>
      </li>
    </ul>
    <!-- Menu Button -->
    <button *ngIf="checkLoggedIn()" mat-icon-button class="example-icon white-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Login Button -->
    <button *ngIf="!checkLoggedIn()" mat-flat-button color="primary" [routerLink]="'login'">
      Login
    </button>
    <!-- User Menu -->
    <div *ngIf="checkLoggedIn()">
      <button mat-flat-button color="primary" [matMenuTriggerFor]="usermenu">
        WELCOME, {{getName()}}!
      </button>
      <mat-menu #usermenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item [routerLink]="'logout'">Logout</button>
      </mat-menu>
    </div>
  </div>

</nav>

<!-- This is important, DO NOT DELETE -->
<!-- It is why the other pages are shown when you route to them -->
<router-outlet></router-outlet>