<nav class="navbar sticky-top navbar-expand-sm navbar-custom" style="background-color: var(--mainColor);">

  <div class="container-fluid">
    <!-- Home Screen Links -->
    <ul *ngIf="!checkLoggedIn()" class="navbar-nav nav-pills">
      <li class="nav-item">
        <a class="nav-link navWhiteText" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navWhiteText" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navWhiteText" href="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navWhiteText" href="careers">Careers</a>
      </li>
    </ul>
    <!-- Menu Button -->
    <button *ngIf="checkLoggedIn()" [disabled]="checkFirstTime()" mat-icon-button class="example-icon white-icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Login Button -->
    <button *ngIf="!checkLoggedIn()" mat-flat-button color="primary" (click)="openLoginDialog()">
      Login
    </button>
    <!-- User Menu -->
    <div *ngIf="checkLoggedIn()">
      <button mat-flat-button color="primary" [matMenuTriggerFor]="usermenu">
        WELCOME, {{getName()}}!
      </button>
      <mat-menu #usermenu="matMenu">
        <button mat-menu-item [routerLink]="'settings'">Settings</button>
        <button mat-menu-item (click)="openLogoutDialog()">Logout</button>
      </mat-menu>
    </div>
  </div>

</nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <ul class="nav flex-column">
      <!-- Sidebar Options Admin -->
      <div *ngIf="checkRole(getAdmin())">
        <li *ngFor="let function of adminFunctions" class="nav-item">
          <a class="nav-link navWhiteText" href={{function.link}}>{{function.title}}</a>
        </li>
      </div>
      <!-- Sidebar Options Staff Member -->
      <div *ngIf="checkRole(getSM())">
        <li *ngFor="let function of smFunctions" class="nav-item">
          <a class="nav-link navWhiteText" href={{function.link}}>{{function.title}}</a>
        </li>
      </div>
      <!-- Sidebar Options Care Taker -->
      <div *ngIf="checkRole(getCT())">
        <li *ngFor="let function of ctFunctions" class="nav-item">
          <a class="nav-link navWhiteText" href={{function.link}}>{{function.title}}</a>
        </li>
      </div>
      <!-- Sidebar Options Health Care Professional -->
      <div *ngIf="checkRole(getHCP())">
        <li *ngFor="let function of hcpFunctions" class="nav-item">
          <a class="nav-link navWhiteText" href={{function.link}}>{{function.title}}</a>
        </li>
      </div>
      <!-- Sidebar Options Patient -->
      <div *ngIf="checkRole(getPatient())">
        <li *ngFor="let function of patientFunctions" class="nav-item">
          <a class="nav-link navWhiteText" href={{function.link}}>{{function.title}}</a>
        </li>
      </div>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- This is important, DO NOT DELETE -->
    <!-- It is why the other pages are shown when you route to them -->
    <router-outlet></router-outlet>
    <!---------------------------------------------------------------->
  </mat-sidenav-content>
</mat-sidenav-container>