<div class="container p-2 my-5 border">
    <h1 class="blockquote">My Schedule</h1>
    <div class="d-flex">
        <mat-card class="w-50">
            <mat-calendar [(selected)]="selectedDate" [dateClass]="assignedDays"></mat-calendar>
        </mat-card>
        <div class="w-50 ms-2 d-flex flex-column">
            <mat-card class="h-50 mb-2">
                <h3 class="color-main">Assigned Work</h3>
                <p *ngIf="selectedDate == null">Select a date to see your assigned hours</p>
                <p *ngIf="!dates.has(selectedDate != null ? selectedDate.toString() : '') && !(selectedDate == null)">
                    You have no hours assigned today. Days with assigned hours are colored on the calendar.
                </p>
                <p *ngIf="dates.has(selectedDate != null ? selectedDate.toString() : '')">
                    Start time: {{dates.get(selectedDate != null ? selectedDate.toString() : "")?.start}}, End time: {{dates.get(selectedDate != null ? selectedDate.toString() : "")?.start}}
                </p>
            </mat-card>
            <mat-card class="h-50">
                <h3 class="color-main">Log Work</h3>
            </mat-card>
        </div>
          
    </div>
</div>
