<div class="container p-2 my-5 border">
    <h1 class="blockquote">My Schedule</h1>
    <!-- Calendar Screen -->
    <div class="d-flex">
        <mat-card class="w-50">
            <mat-calendar *ngIf="dataIn" [(selected)]="selectedDate" [dateClass]="assignedDays"></mat-calendar>
        </mat-card>
        <!-- Schedule Assigned to HCP -->
        <div class="w-50 ms-2 d-flex flex-column">
            <mat-card class="h-50 mb-2">
                <h3 class="color-main">Assigned Work</h3>
                <p *ngIf="selectedDate == null">Select a date to see your assigned hours</p>
                <p *ngIf="!dates.has(selectedDate != null ? selectedDate.toString() : '') && !(selectedDate == null)">
                    You have no hours assigned today. Days with assigned hours are colored on the calendar.
                </p>
                <!-- Table of Assigned Times - Comfortably fits 2-3 assigned times -->
                <div *ngIf="dates.has(selectedDate != null ? selectedDate.toString() : '')">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Start</th>
                                <th>End</th>
                                <th>Patient</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light" *ngFor="let shift of dates.get(selectedDate != null ? selectedDate.toString() : '')">
                                <td>{{shift.start}}</td>
                                <td>{{shift.end}}</td>
                                <td>{{shift.request.patientFirstName}} {{shift.request.patientLastName}}</td>
                                <td>{{shift.request.locationOfService}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
            <!-- Logged Hours of HCP -->
            <mat-card class="h-50">
                <div class="d-flex justify-content-between">
                    <h3 class="color-main">Log Work</h3>
                    <mat-error *ngIf="!isLastTimeBefore">Your punch needs to be after your previous punch</mat-error>
                </div>
                <p *ngIf="selectedDate == null">Select a date with assigned hours to log your time</p>
                <p *ngIf="!dates.has(selectedDate != null ? selectedDate.toString() : '') && !(selectedDate == null)">
                    You have no hours assigned to work today.
                </p>
                <p *ngIf="dates.has(selectedDate != null ? selectedDate.toString() : '') && (selectedDate != null) ? (today.getTime() < selectedDate.getTime()) : false">
                    This day is in the future. You cannot log your hours for it yet!
                </p>
                <!-- Table of punches -->
                <div *ngIf="dates.has(selectedDate != null ? selectedDate.toString() : '') && (selectedDate != null) ? (today.getTime() > selectedDate.getTime()) : false">
                    <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>In</th>
                                <th>Out</th>
                            </tr>
                        </thead>
                        <tbody class="punch-table-height">
                            <tr class="table-light" *ngFor="let punch of loggedTimes.get(selectedDate != null ? selectedDate.toString() : '')">
                                <td>{{punch.in}}</td>
                                <td>{{punch.out}}</td>
                            </tr>
                            <tr class="table-active">
                                <td>Total:</td>
                                <td>{{totals.get(selectedDate != null ? selectedDate.toString() : '')}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- Options to enter punches -->
                    <div class="d-flex justify-content-between">
                        <mat-form-field appearance="fill">
                            <input matInput type="time" [(ngModel)]="time">
                        </mat-form-field>
                        <button mat-raised-button class="align-self-center" (click)="punch()"> Punch </button>
                        <button mat-raised-button class="align-self-center" color="primary"> Submit Hours </button>
                    </div>
                </div>
            </mat-card>
        </div>
          
    </div>
</div>
