button.example-custom-date-class {
    background: rgb(153, 151, 160);
    border-radius: 100%;
}

button.another-custom-date-class {
  background: rgb(181, 163, 63);
  border-radius: 100%;
}

.table-responsive {
  max-height:110px;
}