<div class="wrapper">
<img src="assets/pictures/nursesPosing.jpg" class="side-image">
<div class="vertical-center">
    <div class="container">
        <div class="center-div">
            <h1>About Us</h1>
        </div>
        <p style="text-align: justify">
            Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
            suscipit eget lectus vivamus libero aliquet nascetur mattis. Nunc eu penatibus quisque est montes sed integer porttitor habitant, dui nam massa sapien 
            amet mi orci velit placerat, praesent volutpat ipsum tortor tincidunt molestie augue eget. Curabitur lacus amet habitasse vulputate porttitor torquent quis 
            nisl conubia congue accumsan platea pulvinar consectetur, faucibus justo dui at rhoncus ultricies sed aliquet pretium feugiat sagittis rutrum et. Et tristique 
            eleifend aenean fringilla orci massa ridiculus ligula nostra, mi sociosqu feugiat purus commodo tempus habitant class nam, nibh habitasse aliquet metus ullamcorper 
            vehicula lorem torquent. Lobortis turpis ligula leo enim dignissim sollicitudin dictumst felis at, duis feugiat etiam lacus facilisis libero dapibus eget ut sem, 
            imperdiet commodo velit potenti hac elit sodales magnis.
        </p>

        <p style="text-align: justify">
            Per mattis vulputate massa conubia fusce proin himenaeos tristique urna arcu, semper lacus iaculis nisi nisl blandit tempor at congue augue justo, aptent faucibus 
            cursus ac mi pulvinar turpis diam venenatis. Tempor dapibus ridiculus nulla aliquet tincidunt urna magna tempus montes, feugiat ipsum sociis nascetur ornare mus 
            integer vel quam, nunc sem eu lobortis tristique egestas arcu iaculis. Id senectus augue diam dui imperdiet nisi ligula inceptos, dictumst et metus ut suscipit 
            vulputate posuere neque, morbi tellus nam tristique nisl amet vel. Proin phasellus ut varius sociosqu fames dapibus curae, massa cras ultrices tempus viverra congue 
            hendrerit, sollicitudin ante aenean ultricies primis habitasse. 
        </p>

        <p style="text-align: justify">
            Non sodales egestas accumsan ullamcorper sagittis curabitur etiam pulvinar, litora imperdiet class ridiculus odio enim vitae pharetra dignissim, conubia sociosqu 
            natoque posuere tellus mauris taciti. Fames duis justo nibh vehicula amet mattis eu, vestibulum dictum sed varius hac adipiscing, purus interdum mus nulla massa 
            ipsum. Sapien ornare enim natoque elit bibendum phasellus netus, sed dignissim faucibus at pharetra metus. Vivamus augue inceptos donec ligula penatibus eget 
            porttitor, himenaeos nunc velit praesent libero integer, nibh primis dui lorem cum semper. Eget aptent quis habitasse potenti pharetra eu morbi, taciti class proin 
        sociosqu viverra hac tempor massa, tellus rutrum mus mattis non volutpat. 
        </p>
    </div>
</div>
</div>
<!-- <p style="text-align: justify">
    Nisi curabitur viverra mauris scelerisque neque orci morbi proin fermentum luctus, venenatis arcu eros ac augue id faucibus adipiscing congue placerat, suspendisse 
    cursus tortor mi aliquam praesent vel platea volutpat. Vestibulum feugiat pulvinar aliquet vel dapibus tempor dignissim a at molestie nascetur, lectus inceptos 
    gravida hac himenaeos mi orci montes taciti sollicitudin imperdiet, dictumst scelerisque ridiculus quis iaculis interdum vehicula pretium adipiscing pellentesque. 
    Per malesuada sociis parturient habitant felis urna mattis, fusce dignissim semper enim sollicitudin nulla convallis class, libero dolor nec arcu ut leo. Habitant 
    dictumst feugiat interdum a sagittis viverra mus luctus nascetur, ullamcorper primis metus tempor lectus morbi facilisis. Rutrum quisque dictum commodo nascetur 
    morbi primis augue leo lectus, elit netus integer libero ridiculus habitasse proin vehicula eros gravida, mauris aptent pellentesque nunc orci sed sociosqu egestas.
</p>

<p style="text-align: justify">
    Ullamcorper mattis erat eros senectus eu massa primis, commodo ultricies tempus sodales taciti felis ornare, per auctor libero quis amet platea. Libero nam aenean 
    cum magna dapibus eu tortor fringilla maecenas, turpis facilisi nisi nunc natoque quam blandit cubilia suspendisse, sit et gravida augue odio erat ante vehicula. 
    Blandit maecenas viverra ridiculus taciti eget accumsan metus porta hac tristique, nisl convallis ornare auctor molestie ligula facilisi sollicitudin dolor montes, 
    at cras adipiscing eu lobortis varius augue penatibus integer. Cursus ipsum ligula nisl hac tempor fringilla ultricies sagittis, odio feugiat libero ut quisque 
    lectus eleifend primis, sapien dapibus imperdiet vehicula sociosqu tortor id. 
</p> -->