<div class="container p-2 mt-5 border">
    <!-- back button returning to /type/applications -->
    <button mat-icon-button color="primary" style="font-size:large" routerLink="/{{userType}}/applications">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <!-- title of page -->
    <h1>Manage Applicants</h1>
    <!-- box displaying application information on left half of screen -->
    <div class="d-flex">
        <div class="w-50 border-end">
            <mat-card class="me-2">
                <h2 class="color-main">Application Details</h2>
                <p>Type: {{type | titlecase}}</p>
                <p>{{qualifications}}</p>
                <p>Education: {{education}}</p>
                <p>Experience: {{experience}} years</p>
            </mat-card> <br>
            <button mat-raised-button color="primary" (click)="remove()">Remove</button>
        </div>
        <!-- the right half of screen displaying the list of applicants -->
        <div class="w-50">
            <app-applicant-list></app-applicant-list>
        </div>
    </div>
</div>
