<div class="container p-2 mt-5 border">
    <!-- back button returning to /type/applications -->
    <button mat-icon-button color="primary" style="font-size:large" routerLink="/{{userType}}/applications">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <!-- title of page -->
    <h1 class="blockquote">Manage Applicants</h1>
    <!-- box displaying application information on left half of screen -->
    <div class="d-flex">
        <div class="flex-fill" style="max-width:50%">
            <div class="container border centered-full-width-rows-container rounded details-box">
                <h2>Application Details</h2>
                <p>Type: {{type | titlecase}}</p>
                <p>Qualifications: {{qualifications}}</p>
                <p>Education: {{education}}</p>
                <p>Experience: {{experience}} years</p>
            </div> <br>
            <button mat-raised-button color="primary" (click)="remove()">Remove</button>
        </div>
        <!-- the right half of screen displaying the list of applicants -->
        <div class="flex-fill" style="max-width: 50%">
            <app-applicant-list></app-applicant-list>
        </div>
    </div>
</div>
