<div class="container">
    <img src="assets/pictures/collage.jpg" alt="collage of services" class="d-block w-100" style="max-height: 600px;">
</div>
<div class="container" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="content" fxLayout="row" fxFlexFill>
        <div fxFlex="8"></div>
        <div fxFlex="50">
            <h3 class="center-div">Care</h3>
            <p style="text-align: center">We offer flexible and diverse care, able to meet any need. From quick checkups to intensive oversite to anything in between.</p>
        </div>
        <div fxFlex="55" class="aline-self-center">
            <div class="center-div" style="padding-top: 40px;">
                <button mat-raised-button color="primary">Register</button>
            </div>
        </div>
    </div>
</div>