<div class="container p-2 my-5 border">
    <h1 class="blockquote">Manage Requests</h1>
    <div *ngFor="let request of requests" class="container centered-partial-width-rows-container">
        <mat-card routerLink="request/{{request.requestID}}">
            <mat-card-title>Request {{request.requestID}}: {{request.patientFirstName | titlecase}}
                {{request.patientLastName | titlecase}}</mat-card-title>
            <p>Type: {{request.requirements.serviceType == nurse ? "Nurse" : (request.requirements.serviceType == physiotherapist ? "Physiotherapist" : "Phychologist")}}</p>
            <p>Born {{request.dateOfBirth | date:"MM/dd/yyyy"}}, {{request.sex | titlecase}}</p>
            <p>{{request.requirements.locationOfService}}</p>
        </mat-card><br>
    </div>
</div>
