<div class="container p-2 mt-5 border">
    <h1 class="blockquote">Manage Requests</h1>
    <mat-tab-group mat-align-tabs="center" class="tab-group-area">
        <mat-tab label="In Service">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Patient</th>
                        <th>Request Dates</th>
                        <th>Sex</th>
                        <th>Care Taker</th>
                        <th>Assigned</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                    <mat-error *ngIf="current.length == 0">There are no requests in service at this time</mat-error>
                    <tr *ngFor="let request of current;" (click)="selectTab(request)">
                        <td>{{(request.requirements.serviceType == nurse ? hcpLabels.nurse.label : (request.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}</td>
                        <td>{{request.patientFirstName | titlecase}} {{request.patientLastName | titlecase}}</td>
                        <td>Start: {{request.requirements.startDate | date:"MM/dd/yyyy"}}, End: {{request.requirements.endDate | date:"MM/dd/yyyy"}}</td>
                        <td>{{request.sex | titlecase}}</td>
                        <td>todo</td>
                        <td>{{(request.distribution.unassigned.length) == 0 ? "Full" : ((request.distribution.assigned.length != 0) ? "Partial" : "None")}}</td>
                        <td>Next Commit</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Pending">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Patient</th>
                        <th>Request Dates</th>
                        <th>Sex</th>
                        <th>Care Taker</th>
                        <th>Assigned</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                    <mat-error *ngIf="pending.length == 0">There are no requests pending at this time</mat-error>
                    <tr *ngFor="let request of pending;" (click)="selectTab(request)">
                        <td>{{(request.requirements.serviceType == nurse ? hcpLabels.nurse.label : (request.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}</td>
                        <td>{{request.patientFirstName | titlecase}} {{request.patientLastName | titlecase}}</td>
                        <td>Start: {{request.requirements.startDate | date:"MM/dd/yyyy"}}, End: {{request.requirements.endDate | date:"MM/dd/yyyy"}}</td>
                        <td>{{request.sex | titlecase}}</td>
                        <td>todo</td>
                        <td>{{(request.distribution.unassigned.length) == 0 ? "Full" : ((request.distribution.assigned.length != 0) ? "Partial" : "None")}}</td>
                        <td>Next Commit</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Withdrawn">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Patient</th>
                        <th>Request Dates</th>
                        <th>Sex</th>
                        <th>Care Taker</th>
                        <th>Assigned</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                    <mat-error *ngIf="withdrawn.length == 0">There are no withdrawn requests at this time</mat-error>
                    <tr *ngFor="let request of withdrawn;" (click)="selectTab(request)">
                        <td>{{(request.requirements.serviceType == nurse ? hcpLabels.nurse.label : (request.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}</td>
                        <td>{{request.patientFirstName | titlecase}} {{request.patientLastName | titlecase}}</td>
                        <td>Start: {{request.requirements.startDate | date:"MM/dd/yyyy"}}, End: {{request.requirements.endDate | date:"MM/dd/yyyy"}}</td>
                        <td>{{request.sex | titlecase}}</td>
                        <td>todo</td>
                        <td>{{(request.distribution.unassigned.length) == 0 ? "Full" : ((request.distribution.assigned.length != 0) ? "Partial" : "None")}}</td>
                        <td>Next Commit</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Completed">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Patient</th>
                        <th>Request Dates</th>
                        <th>Sex</th>
                        <th>Care Taker</th>
                        <th>Assigned</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                    <mat-error *ngIf="completed.length == 0">There are no completed requests at this time</mat-error>
                    <tr *ngFor="let request of completed;" (click)="selectTab(request)">
                        <td>{{(request.requirements.serviceType == nurse ? hcpLabels.nurse.label : (request.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}</td>
                        <td>{{request.patientFirstName | titlecase}} {{request.patientLastName | titlecase}}</td>
                        <td>Start: {{request.requirements.startDate | date:"MM/dd/yyyy"}}, End: {{request.requirements.endDate | date:"MM/dd/yyyy"}}</td>
                        <td>{{request.sex | titlecase}}</td>
                        <td>todo</td>
                        <td>{{(request.distribution.unassigned.length) == 0 ? "Full" : ((request.distribution.assigned.length != 0) ? "Partial" : "None")}}</td>
                        <td>Next Commit</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Terminated">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Patient</th>
                        <th>Request Dates</th>
                        <th>Sex</th>
                        <th>Care Taker</th>
                        <th>Assigned</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                    <mat-error *ngIf="terminated.length == 0">There are no terminated requests at this time</mat-error>
                    <tr *ngFor="let request of terminated;" (click)="selectTab(request)">
                        <td>{{(request.requirements.serviceType == nurse ? hcpLabels.nurse.label : (request.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}</td>
                        <td>{{request.patientFirstName | titlecase}} {{request.patientLastName | titlecase}}</td>
                        <td>Start: {{request.requirements.startDate | date:"MM/dd/yyyy"}}, End: {{request.requirements.endDate | date:"MM/dd/yyyy"}}</td>
                        <td>{{request.sex | titlecase}}</td>
                        <td>todo</td>
                        <td>{{(request.distribution.unassigned.length) == 0 ? "Full" : ((request.distribution.assigned.length != 0) ? "Partial" : "None")}}</td>
                        <td>Next Commit</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
    <div class="container p-2 my-2 border">
        <h2>Details</h2>
        <h3 *ngIf="!isShown">Select a request to view details</h3>
        <div *ngIf="isShown" class="d-flex">
            <mat-card>
                <h4 class="color-main">Patient Details</h4>
                <p>{{selected.patientFirstName | titlecase}} {{selected.patientLastName | titlecase}}, {{selected.sex | titlecase}}</p>
                <p>{{selected.dateOfBirth | date:"MM/dd/yyyy"}}</p>
                <p>{{selected.patientEmail}}</p>
                <p>{{selected.locationOfService}}</p>
                <p>{{format.formatPhone(selected.patientPhoneNumber)}}</p>
                </mat-card>
            <mat-card class="ms-2 w-30">
                <h4 class="color-main">Request Details</h4>
                <p>{{(selected.requirements.serviceType == nurse ? hcpLabels.nurse.label : (selected.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}</p>
                <p>Start: {{selected.requirements.startDate | date:"MM/dd/yyyy"}}, End: {{selected.requirements.endDate | date:"MM/dd/yyyy"}}</p>
                <div class="d-flex flex-row">
                    <p *ngIf="wantsGender">Sex: {{selected.requirements.gender | titlecase}}</p>
                    <p *ngIf="wantsAge && wantsGender" class="ms-4">min age: {{selected.requirements.age_min}}, max age: {{selected.requirements.age_max}}</p>
                    <p *ngIf="wantsAge && !wantsGender">min age: {{selected.requirements.age_min}}, max age: {{selected.requirements.age_max}}</p>
                    <p *ngIf="wantsAge || wantsGender" class="ms-4">{{selected.requirements.numDaysRequested}} days:</p>
                    <p *ngIf="!(wantsAge || wantsGender)">{{selected.requirements.numDaysRequested}} days:</p>
                </div>
                <p>{{format.getDaysString(selected.requirements.daysRequested)}}</p>
                <p>Unassigned: {{format.getDaysString(selected.distribution.unassigned)}}</p>
                <p *ngIf="!isFlexibleHours">Start Time: {{selected.requirements.startTime}}, End Time {{selected.requirements.endTime}}</p>
                <p *ngIf="isFlexibleHours">Flexible Hours: {{selected.requirements.hoursPerDay}} hours wanted</p>
            </mat-card>
            <mat-card class="flex-fill ms-2">
                <h4 class="color-main">Assigned {{(selected.requirements.serviceType == nurse ? hcpLabels.nurse.label : (selected.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}s</h4>
                <mat-error *ngIf="selected.distribution.assigned.length == 0">No one is assigned to this request at this time</mat-error>
                <div *ngFor="let assignment of selected.distribution.assigned; let i = index">
                    <p>{{assignment.hcpName | titlecase}} - {{format.getDaysString(assignment.schedule.daysRequested)}}</p>
                </div>
            </mat-card>
            <mat-card class="ms-2">
                <h4 class="color-main">Actions</h4>
                <div *ngIf="!this.withdrawnRequestIDs.has(selected.requestID) && !(selected.end == true)">
                    <button mat-raised-button color="primary" routerLink="request/{{selected.requestID}}">
                        Assign {{(selected.requirements.serviceType == nurse ? hcpLabels.nurse.label : (selected.requirements.serviceType == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}s
                    </button>
                    <br><br>
                </div>
                <button mat-raised-button color="primary" routerLink="{{selected.requestID}}/billing-info">View Billing Info</button>
                <br><br>
                <button mat-raised-button color="primary" *ngIf="withdrawnRequestIDs.has(selected.requestID) || selected.terminate == true"
                (click)="terminate()"
                >
                    Terminate
                </button>
            </mat-card>
        </div>
    </div>
</div>