<div style="height:100%">
    <mat-error *ngIf="!isAppliedTo">No applicants for this job. Come back later!</mat-error>
    <div *ngFor="let applicant of applicants; let i = index">
        <div *ngIf="!isClosed[i]" [@openClose]>
            <mat-card style="overflow: hidden">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3>
                            <button (click)="open(i)" class="exit-button" id="button{{i}}">
                                <mat-icon>navigate_before</mat-icon>
                            </button>
                            {{applicant.firstName | titlecase}} {{applicant.lastName | titlecase}}
                        </h3>
                        <p>{{applicant.yearOExp}} years of experience</p>
                        <p>{{applicant.qualification}}</p>
                    </div>
                    <div style="text-align: right;">
                        <p>Born {{applicant.qualificationDate}}</p>
                        <p>{{applicant.sex | uppercase}}</p>
                    </div>
                </div>
                <div *ngIf="isOpen[i]" [@bottom-animation] style="height: 25vw" class="container">
                    <div style="padding-bottom: 5vw;">
                        <mat-divider></mat-divider>
                        <h2>Additional Information</h2>
                        <p>SSN: {{applicant.ssn}}</p>
                        <p>Address: {{applicant.postalAddress}}</p>
                        <p>Phone Number: {{this.format.formatPhone(applicant.phoneNumber)}}</p>
                        <p>Email: {{applicant.email}}</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button mat-raised-button color="primary" 
                            (click)="reject(applicant.firstName, applicant.lastName)">Reject</button>
                        <button mat-raised-button color="primary" (click)="approve(applicant.firstName, applicant.lastName)">Approve</button>
                    </div>
                </div>
            </mat-card><br>
        </div>
    </div>
</div>