<div style="height:100%">
    <div *ngFor="let applicant of applicants; let i = index">
        <mat-card *ngIf="!isClosed[i]" [@openClose] style="overflow: hidden" >
            <div class="d-flex justify-content-between" *ngIf="!isClosed[i]" [@openClose]>
                <div>
                    <h3>
                        <button mat-icon-button color="primary" *ngIf="isOpen[i]" [@exit-button] (click)="close()">
                            <mat-icon>navigate_before</mat-icon>
                        </button>
                        {{applicant.firstName | titlecase}} {{applicant.lastName | titlecase}}
                    </h3>
                    <p>{{applicant.yearsOfExperience}} years of experience</p>
                    <p>{{applicant.qualifications}}</p>
                </div>
                <div style="text-align: right;">
                    <p>Born {{applicant.dateOfBirth}}</p>
                    <p>{{applicant.sex}}</p>
                    <button mat-raised-button type="button" (click)="open(i)">Open</button><br>
                </div>
            </div>
            <div *ngIf="isOpen[i]" [@bottom-animation] style="height: 30vw">
                <mat-divider></mat-divider>
                <h2>Additional Information</h2>
                <p>{{applicant.ssn}}</p>
                <p>{{applicant.address}}</p>
                <p>{{applicant.phoneNumber}}</p>
                <p>{{applicant.email}}</p>
            </div>
        </mat-card><br *ngIf="!isClosed[i]">
    </div>
</div>