.sidenav-container {
    width: 100%;
    height: calc(100% - var(--navbarHeight));
  }

  mat-sidenav {
    background-color: var(--mainColor);
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }