/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global Variables */
:root{
    --navbarHeight: 50px;
    --mainColor: #3f51b5;
    --indicationColor: #29305c;
}

.navWhiteText {
    color: white;
}

.navbar-custom {
    height: var(--navbarHeight);
    background-color: var(--mainColor);
    box-shadow: 0px 2px 5px;
}

.white-icon {
    color: white;
}

.hover-class:hover {
    background-color: var(--indicationColor);
}

.max-width-half {
    max-width: 50%;
}

/* Center Items and Size to different amounts */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical-horizontal{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7983b9
  }

.centered-full-width-rows-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centered-partial-width-rows-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Snackbar Styles */
.mat-snackbar-colors {
    color: var(--mainColor) !important;
    background-color: #f3f3f3 !important;
    border-color: #6977f5 !important;
}
.mat-simple-snackbar-action {
    color: var(--mainColor) !important;
}