/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --navbarHeight: 50px;
    --mainColor: #3f51b5;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical-horizontal{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7983b9
  }

.centered-full-width-rows-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centered-partial-width-rows-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.mat-snackbar-colors {
    color: var(--mainColor) !important;
    background-color: #f3f3f3 !important;
    border-color: #6977f5 !important;
}
.mat-simple-snackbar-action {
    color: var(--mainColor) !important;
}