<!-- Nurses Career Description -->
<div class="d-flex flex-wrap">
    <img src="assets/pictures/nurses.jpg" alt="nurses smiling" class="picture">
    <div class="p2 align-self-center width-cap-area">
        <div class="container d-flex flex-column">
            <div class="button-spacer">
                <h1 class="title-button-justify-left">Nurses</h1>
                <p class="description-text">
                    We hire experienced nurses that can provide flexible and rubust care to meet patients' needs.
                    Our hours are flexible and we love a good diverse set of skills. Experience with us can provide
                    many opportunities for future career endeviours and on-site learning that is beneficial to everyone.
                </p>
            </div>
            <div class="title-button-justify-left">
                <button mat-raised-button color="primary" routerLink="nurse">Apply Now</button>
            </div>
        </div>
    </div>
</div>

<!-- Horozontal spacer between the two sections -->
<div style="min-height: 5px;"></div>

<!-- Physiotherapist Career Description -->
<div class="d-flex flex-row-reverse flex-wrap">
    <img src="assets/pictures/physio1.jpg" alt="a physiotherapist" class="picture">
    <div class="p2 align-self-center width-cap-area">
        <div class="container d-flex flex-column">
            <div class="button-spacer">
                <h1 class="title-button-justify-right">Physiotherapists</h1>
                <p class="description-text" style="text-align: right;">
                    We hire experienced physiotherapists that can provide flexible and rubust therapy to meet patients' needs.
                    Our hours are flexible and we love a good diverse set of therapy skills. Experience with our company
                    can help boost a career towards other pursuits or can start a career with us.
                    Either way, we'd love to have you!
                </p>
            </div>
            <div class="title-button-justify-right">
                <button mat-raised-button color="primary" routerLink="physiotherapist">Apply Now</button>
            </div>
        </div>
    </div>
</div>