<!-- Nurses Career Description -->
<div class="d-flex flex-wrap">
    <img src="assets/pictures/nurses.jpg" alt="nurses smiling" class="picture">
    <div class="p2 align-self-center width-cap-area">
        <div class="container d-flex flex-column">
            <div class="button-spacer">
                <h1 class="title-button-justify-left">Nurses</h1>
                <p class="description-text">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, 
                    vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
                    suscipit eget lectus vivamus libero aliquet nascetur torquent fringilla gravida mattis.
                </p>
            </div>
            <div class="title-button-justify-left">
                <button mat-raised-button color="primary" routerLink="nurse">Apply Now</button>
            </div>
        </div>
    </div>
</div>

<!-- Horozontal spacer between the two sections -->
<div style="min-height: 5px;"></div>

<!-- Physiotherapist Career Description -->
<div class="d-flex flex-row-reverse flex-wrap">
    <img src="assets/pictures/physio1.jpg" alt="a physiotherapist" class="picture">
    <div class="p2 align-self-center width-cap-area">
        <div class="container d-flex flex-column">
            <div class="button-spacer">
                <h1 class="title-button-justify-right">Physiotherapists</h1>
                <p class="description-text" style="text-align: right;">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque nibh, 
                    vulputate pharetra pulvinar torquent fringilla gravida erat maecenas quam, 
                    suscipit eget lectus vivamus libero aliquet nascetur torquent fringilla gravida mattis.
                </p>
            </div>
            <div class="title-button-justify-right">
                <button mat-raised-button color="primary" routerLink="physiotherapist">Apply Now</button>
            </div>
        </div>
    </div>
</div>