<div class="container p-2 my-5 border">
    <h1 class="blockquote">Staff Members</h1>
    <button mat-raised-button color="primary" style="float: right" (click)="openAddDialog()">Add</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let staffMember of staffMembers;">
                <td>{{staffMember.firstName}} {{staffMember.lastName}}</td>
                <td>{{staffMember.email}}</td>
                <td>{{staffMember.postalAddress}}</td>
                <td>{{staffMember.phoneNumber}}</td>
                <td>
                    <button mat-raised-button color="primary" style="float: right" 
                    (click)="openRemoveDialog(staffMember.firstName, staffMember.lastName, staffMember.userID)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>