<div class="container p-2 my-5 border">
    <h1 class="blockquote">Request Service</h1>
    <div class="d-flex flex-row">
        <div class="p-2 flex-fill border-end max-width-half">
            <!-- Patient Information -->
            <form [formGroup]="patientForm">
                <div class="centered-full-width-rows-container">
                    <h2 class="blockquote">Patient Information</h2>
                    <!-- First Name -->
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter your patient's first name" formControlName="firstName">
                        <mat-error *ngIf="this.patientForm.get('firstName')?.hasError('required')">You must enter a value</mat-error>
                    </mat-form-field>
                    <!-- Last Name -->
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter your patient's last name" formControlName="lastName">
                        <mat-error *ngIf="this.patientForm.get('lastName')?.hasError('required')">You must enter a value</mat-error>
                    </mat-form-field>
                    <!-- Sex -->
                    <mat-form-field appearance="fill">
                        <mat-label>Sex</mat-label>
                        <mat-select placeholder="Choose one" formControlName="sex">
                               <mat-option value="m"> Male </mat-option>
                            <mat-option value="f"> Female </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.patientForm.get('sex')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                    <!-- Date of Birth -->
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your patient's Date of Bith</mat-label>
                        <input matInput [max]="today" [matDatepicker]="dob" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                        <mat-error *ngIf="this.patientForm.get('dob')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                    <!-- Location -->
                    <mat-form-field appearance="fill">
                        <mat-label>Location of Service</mat-label>
                        <input matInput placeholder="Enter your patient's location" formControlName="lastName">
                        <mat-error *ngIf="this.patientForm.get('lastName')?.hasError('required')">You must enter a value</mat-error>
                    </mat-form-field>
                    <!-- Phone Number -->
                    <mat-form-field appearance="fill">
                        <mat-label>Phone Number</mat-label>
                        <input type="tel" matInput mask="(000) 000-0000" placeholder="(555) 555-1234" formControlName="phone">
                        <mat-error *ngIf="this.patientForm.get('phone')?.hasError('required')">You must enter a value</mat-error>
                        <mat-error *ngIf="this.patientForm.get('phone')?.hasError('pattern')">You must enter valid phone number</mat-error>
                    </mat-form-field>
                    <!-- Email Address -->
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="tel" matInput placeholder="name@email.com" formControlName="email">
                        <mat-error *ngIf="this.patientForm.get('email')?.hasError('required')">You must enter a value</mat-error>
                        <mat-error *ngIf="this.patientForm.get('email')?.hasError('email')">You must enter valid email</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="p-2 flex-fill border-start max-width-half">
            <!-- Service Information -->
            <form [formGroup]="typeForm">
                <div class="centered-full-width-rows-container">
                    <h2 class="blockquote">Service Information</h2>
                    <!-- Type -->
                    <mat-form-field appearance="fill">
                        <mat-label>Service Type</mat-label>
                        <mat-select placeholder="Choose one" formControlName="type">
                            <mat-option value="nurse"> Nurse </mat-option>
                            <mat-option value="physiotherapist"> Physiotherapist </mat-option>
                            <mat-option value="psychiatrist"> Psychiatrist </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.typeForm.get('type')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <!-- Dates Wanted -->
            <div class="centered-full-width-rows-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your desired start and end date</mat-label>
                    <mat-date-range-input [min]="today" [formGroup]="dateForm" [rangePicker]="startEndRange">
                        <input matStartDate (dateInput)="figureDays()" (dateChange)="figureDays()" formControlName="startDate">
                        <input matEndDate (dateInput)="figureDays()" (dateChange)="figureDays()" formControlName="endDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="startEndRange"></mat-datepicker-toggle>
                    <mat-date-range-picker #startEndRange></mat-date-range-picker>
                    <mat-error *ngIf="this.dateForm.get('startDate')?.hasError('required')">You must select a start date</mat-error>
                    <mat-error *ngIf="this.dateForm.get('endDate')?.hasError('required')">You must select an end date</mat-error>
                </mat-form-field>
            </div>
            <!-- Toggle Specific or Flexible Hours -->
            <mat-slide-toggle color="primary" [(ngModel)]="isFlexibleHours">Flexible Hours?</mat-slide-toggle>
            <!-- Specific Hours -->
            <form [formGroup]="specificHoursForm">
                <div class="d-flex flex-row justify-content-around centered-full-width-rows-container">
                    <!-- Start Time -->
                    <mat-form-field *ngIf="!isFlexibleHours" appearance="fill">
                        <mat-label>Start Time</mat-label>
                        <input matInput type="time" formControlName="startTime">
                        <mat-error *ngIf="this.specificHoursForm.get('startTime')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                    <!-- End Time -->
                    <mat-form-field *ngIf="!isFlexibleHours" appearance="fill">
                        <mat-label>End Time</mat-label>
                        <input matInput type="time" formControlName="endTime">
                        <mat-error *ngIf="this.specificHoursForm.get('endTime')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                </div>
                <mat-error *ngIf="this.specificHoursForm.errors?.startAfterEnd && this.specificHoursForm.get('endTime')?.dirty">
                    Start time must be after end time
                </mat-error>
            </form>
            <!-- Flexible Hours -->
            <form [formGroup]="flexibleHoursForm">
                <div class="centered-full-width-rows-container">
                    <mat-form-field *ngIf="isFlexibleHours" appearance="fill">
                        <mat-label>Wanted Number of Hours</mat-label>
                        <input matInput type="number" formControlName="hours">
                        <mat-error *ngIf="this.flexibleHoursForm.get('hours')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <!-- Weekdays -->
            <section class="example-section" [formGroup]="daysForm">
                <mat-label>Days</mat-label>
                <div class="d-flex flex-row justify-content-around">
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="monday"></mat-checkbox>
                        <div class="align-self-center">M</div>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="tuesday"></mat-checkbox>
                        <div class="align-self-center">T</div>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="wednesday"></mat-checkbox>
                        <div class="align-self-center">W</div>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="thursday"></mat-checkbox>
                        <div class="align-self-center">R</div>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="friday"></mat-checkbox>
                        <div class="align-self-center">F</div>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="saturday"></mat-checkbox>
                        <div class="align-self-center">S</div>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-checkbox color="primary" (change)="figureDays()" formControlName="sunday"></mat-checkbox>
                        <div class="align-self-center">U</div>
                    </div>
                    <h4>{{numberOfDays}} days total</h4>
                </div>
            </section>
            <!-- Optional Constraints -->
            <h2 class="blockquote">Optional Constraints</h2>
            <!-- Sex Wanted -->
            <mat-slide-toggle color="primary" [(ngModel)]="wantsGender">Specify Gender?</mat-slide-toggle>
            <form [formGroup]="genderForm">
                <div class="centered-full-width-rows-container">
                    <mat-form-field *ngIf="wantsGender" appearance="fill">
                        <mat-label>Wanted Sex of Health Care Professional</mat-label>
                        <mat-select placeholder="Choose one" formControlName="gender">
                            <mat-option value="m"> Male </mat-option>
                            <mat-option value="f"> Female </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.genderForm.get('gender')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <!-- Age Wanted -->
            <mat-slide-toggle color="primary" [(ngModel)]="wantsAge">Specify Age Range?</mat-slide-toggle>
            <form [formGroup]="ageForm">
                <!-- Min Age -->
                <div class="d-flex flex-row justify-content-around centered-full-width-rows-container">
                    <mat-form-field *ngIf="wantsAge" appearance="fill">
                        <mat-label>Wanted Minimum Age of Health Care Professional</mat-label>
                        <input matInput type="number" formControlName="min">
                        <mat-error *ngIf="this.ageForm.get('min')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                    <!-- Max Age -->
                    <mat-form-field *ngIf="wantsAge" appearance="fill">
                        <mat-label>Wanted Maximum Age of Health Care Professional</mat-label>
                        <input matInput type="number" formControlName="max">
                        <mat-error *ngIf="this.ageForm.get('max')?.hasError('required')">You must select a value</mat-error>
                    </mat-form-field>
                </div>
                <mat-error *ngIf="this.ageForm.errors?.minGTMax && this.ageForm.get('max')?.dirty">
                    Minimum age must be less than maximum
                 </mat-error>
            </form>
            <button (click)="figureDays()">click me</button>
        </div>
    </div>
</div>