<div class="container p-2 my-5 border">
    <h1 class="blockquote">Health Care Professionals</h1>
    <mat-error *ngIf="hcps.length == 0">There are no health care professionals! Post a job and hire them in the applications window</mat-error>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hcp of hcps;">
                <td>{{hcp.firstName}} {{hcp.lastName}}</td>
                <td>{{hcp.email}}</td>
                <td>{{hcp.postalAddress}}</td>
                <td>{{hcp.phoneNumber}}</td>
                <td>
                    <button mat-raised-button color="primary" style="float: right" 
                    (click)="openRemoveDialog(hcp.firstName, hcp.lastName, hcp.userID)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
