<div class="container p-2 my-5 border">
    <h1 class="blockquote">Health Care Professionals</h1>
    <mat-error *ngIf="hcps.length == 0">There are no health care professionals! Post a job and hire them in the applications window</mat-error>
    <div class="table-area">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hcp of hcps;" (click)="select(hcp)">
                    <td>{{hcp.firstName}} {{hcp.lastName}}</td>
                    <td>{{hcp.email}}</td>
                    <td>{{hcp.postalAddress}}</td>
                    <td>{{format.formatPhone(hcp.phoneNumber)}}</td>
                    <td>
                        <button mat-raised-button color="primary" style="float: right" 
                        (click)="openRemoveDialog(hcp.firstName, hcp.lastName, hcp.userID)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container p-2 border">
        <h2>Details</h2>
        <h3 *ngIf="!isShown">Select a request to view details</h3>
        <div *ngIf="isShown" class="d-flex">
            <mat-card>
                <h4 class="color-main">{{selected.firstName | titlecase}} {{selected.lastName | titlecase}}</h4>
                <p>
                    {{(selectedInfo.typeHS == nurse ? hcpLabels.nurse.label : (selectedInfo.typeHS == physiotherapist ? hcpLabels.physiotherapist.label : hcpLabels.psychiatrist.label)) | titlecase}}
                    - {{selectedInfo.sex | titlecase}}
                </p>
                <p>DOB: {{selectedInfo.dateOfBirth}}</p>
                <p>SSN: {{format.formatSSN(selectedInfo.ssn)}}</p>
                <p>Degree: {{selectedInfo.qualification}}</p>
                <p>Experience: {{selectedInfo.yearOExp}} years</p>
                <p>Phone: {{format.formatPhone(selectedInfo.phoneNumber)}}</p>
                <p>Address: {{selectedInfo.postalAddress}}</p>
                <p>Email: {{selectedInfo.email}}</p>
            </mat-card>
            <mat-card>
                <h4 class="color-main">Salary Payment</h4>
                <table class="table table-sm table-hover table-borderless w-75 mx-auto">
                    <tbody>
                        <tr>
                            <th>Total:</th>
                            <td style="text-align: right">{{selectedInfo.billingAccount.total | currency}}</td>
                        </tr>
                        <tr>
                            <th>Paid:</th>
                            <td style="text-align: right">{{selectedInfo.billingAccount.paidTotal | currency}}</td>
                        </tr>
                        <tr>
                            <th>Unpaid:</th>
                            <td style="text-align: right">{{selectedInfo.billingAccount.unPaidTotal | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <form [formGroup]="form">
                    <div class="d-flex justify-content-center">
                        <mat-form-field appearance="fill" class="w-25">
                            <input matInput prefix="$" mask="99990" style="text-align: right" formControlName="dollars">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-25">
                            <input matInput prefix="." mask="00" formControlName="cents">
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="align-self-start ms-2"
                        [disabled]="form.pristine || form.invalid" (click)="pay()">
                            Pay
                        </button>
                    </div>
                    <mat-error *ngIf="this.form.get('dollars')?.touched && this.form.get('dollars')?.hasError('required')">
                        You must enter some dollar amount
                    </mat-error>
                    <mat-error *ngIf="this.form.get('cents')?.touched && this.form.get('cents')?.hasError('required')">
                        You must enter some amount after the decimal
                    </mat-error>
                    <mat-error *ngIf="this.form.get('cents')?.touched && this.form.get('cents')?.hasError('pattern')">
                        You must enter cents to two decimal places
                    </mat-error>
                </form>
            </mat-card>
        </div>
    </div>
</div>
