<div class="hero-image">
    <div class="hero-text">
        <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="content">
                <div class="d-inline-flex justify-content-around flex-wrap">
                    <div class="p-2" style="max-width: 50%;">
                        <h3 class="flex-center">Care</h3>
                        <p style="text-align: center">We offer flexible and diverse care, able to meet any need. From quick checkups to intensive oversite to anything in between.</p>
                        <p style="text-align: center">Register for quality, flexible care today.</p>
                    </div>
                    <div class="p-2 align-self-center">
                        <div class="flex-center">
                            <button mat-raised-button color="primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>